<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <main>
        <h1>Add an Author</h1>
        <div class="cont">
            <form action="addAuthor" method="POST">
                {% csrf_token %}
                <label for="first_name">First Name</label>
                <input type="text" name="first_name" id="first_name">
                <br>
                <label for="last_name">Last Name</label>
                <input type="text" name="last_name" id="last_name">
                <label for="note"></label>
                <textarea name="note" id="note" cols="30" rows="10"></textarea>
                <br>
                <input type="submit" value="Add">
            </form>
            <table>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
                <tbody>
                    {% for author in authors %}
                    <tr>
                        <td>{{author.id}}</td>
                        <td>{{author.first_name}}  {{ author.last_name }}</td>
                        <td><a href="authors/{{author.id }}">View</a></td>
                    </tr>
                    {% endfor %}
                </tbody>    
            </table>
        </div>
    </main>    
</body>
</html>