<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <main>
        <div class="cntaine">
            <form action="/process_money" method="GET">
                {% csrf_token %}
                <label for="gold">Your gold</label>
                <input type="text" value={{request.session.gold}} readonly>
            </form>
            <div class="bulding">
                <form action="/process_money" method="POST">
                    {% csrf_token %}
                    <h2>Farm</h2>
                    <p>(earns 10-20 golds)</p>
                    <input type="hidden" name="gold" value="farm" >
                    <button type="submit">Find Gold</button>
                </form>
                <form action="/process_money" method="POST">
                    {% csrf_token %}
                    <h2>Cave</h2>
                    <p>(earns 5-10 golds)</p>
                    <input type="hidden" name="gold" value="cave" >
                    <button type="submit">Find Gold</button>
                </form>
                <form action="/process_money" method="POST">
                    {% csrf_token %}
                    <h2>House</h2>
                    <p>(earns 2-5 golds)</p>
                    <input type="hidden" name="gold" value="house" >
                    <button type="submit">Find Gold</button>
                </form>
                <form action="/process_money" method="POST">
                    {% csrf_token %}
                    <h2>Casino</h2>
                    <p>(earns/takes 0-50 golds)</p>
                    <input type="hidden" name="gold" value="casino" >
                    <button type="submit">Find Gold</button>
                </form>
            </div>
            <form action="/reset" method="POST">
                {% csrf_token %}
                <input type="hidden" name="reset" value="reset">
                <button type="submit">reset</button>
            </form>

        </div>
        
        {% for i in activities reversed %}
            <p style="color:{{color}} ;">{{ i }}</p>
        {% endfor %}   
    </main>
</body>
</html>