<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    
</head>
<body>
    <main>
        <div class="cont">
            <form  action="/adddojo" method="POST">
                {% csrf_token %}
                    <h2>Add a Dojo</h2>
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name">
                    <label for="city">City</label>
                    <input type="text" name="city" id="city">
                    <label for="state">State</label>
                    <input type="text" name="state" id="state">
                    <input type="submit" value="Add">
                </form>
                <form  action="/addninja" method="POST">
                    {% csrf_token %}
                    <h2>Add Ninja</h2>
                    <label for="first">First Name</label>
                    <input type="text" name="first" id="first">
                    <label for="last" >Last Name</label>
                    <input type="text" name="last" id="last">
                    <label for="dojo">Dojo</label>
                    <select name="dojo_" id="dojo">
                        <option  disabled selected >chose your Dojo</option>
                        {%for dojo in dojos%}
                        <option>{{dojo.name}}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Add">
                </form>
        </div>
        <hr>
        <div class="show">
            <h2>All the Dojos</h2>
            {% for dojo in dojos %}
            <h3>Ninjas at the {{dojo.name}} </h3>
                {% for ninja in ninjas%}
                {% if ninja.dojo.name == dojo.name%}
                <p> {{ninja.first_name}} {{ ninja.last_name}}</p>
                {% endif %}
                {% endfor%}
            
            {% endfor %}
        </div>

    </main>
</body>
</html>