<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Great Number Game</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <main>
        <h1>Welcom to the Great Number Game!</h1>
        <p>I am thinking of a number between 1 and 100</p>
        <p>Take a guess!</p>
        <div class="result">
            <p>{{ request.session.number }}</p>
        </div>

        <form action="/" method="POST">
            {% csrf_token %}
            <input type="number" name="number_from_user" value="number">
            <button type="submit">submit</button>

        </form>
    </main>
</body>
</html>