<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <h3>submitted Info</h3>
    <p>Name: {{name_on_template}}</p>
    <p>Dojo Location: {{location_on_template}}</p>
    <p>Favorite Language: {{language_on_template}}</p>
    <p>Comment: {{comment_on_template}}</p>
</body>
</html>