form{
    display: grid;
    
}
.cont{
    display: flex;
    justify-content: space-around;
}

label{
    margin: 5px;
}
input{
    margin:5px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}
td{
    border: 1px solid black;
}